* {
    margin: 0;
    padding: 0;
}
.favorite-header {
    display: flex;
    align-items: center;
    gap: 11px;
    margin: 38px 55px;
}
.favorite-header p {
    font-weight: bold;
    font-size: larger;
    color: white;
}
.favorite-container {
    padding-bottom: 100px;
    min-height: 100vh;
    background-color: #F81115;
}
/* Commande Page */
.containerr {
    height: 100vh;
    background-image: linear-gradient(180deg, #FF0004 0%, #FECECF 100%);
}
.cart-header {
    display: flex;
    align-items: center;
    gap: 11px;
    justify-content: space-around;
    padding: 30px 0;
}
.cart-header p {
    font-weight: bold;
    font-size: larger;
}
.cart {
    width: 90%;
    height: 93vh;
    background-color: white;
    border-radius: 30px;
}
.cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cart-body {
    display: flex;
    justify-content: center;
    max-height: 494px;
    /* background: red; */
    overflow: auto;
    padding: 25px 0;
}
.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.cart-item {
    width: 90%;
    min-height: 120px;
    background-color: #FECECF;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.price-detaills {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: gray;
    font-weight: 600;
}
.price-total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: large;
}
.cart-footer {
    padding: 8px 22px;

    /* bach tji lta7t */
    /* position: fixed;
    bottom: 150px;
    left: 12px;
    width: 84%;
    height: 90px; */
}
.cart-footer > p:first-child {
    font-weight: bold;
    font-size: large;
}
.cart-footer-btn button {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FF0004;
    color: white;
}
.cart-footer-btn {
    text-align: center;
    padding-top: 25px;
}
.cart-image {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    background-color: white;
    margin: 20px 15px;
}
.cart-image img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.cart-text-two {
    color: gray !important;
    line-height: 16px !important;
    font-weight: 400 !important;
}
.cart-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}
.cart-icone-qty {
    display: flex;
    flex-flow: column;
    gap: 5px;
}
.cart-icones {
    display: flex;
    flex-flow: column;
    gap: 36px;
    align-items: center;
    margin-left: auto;
    padding: 0 17px;
}
#alert-dialog-title {
    text-align: center;
    font-weight: bold;
}
#dialogP {
    text-align: center;
    font-size: small;
    font-weight: 500;
    padding: 0 10px;
}
.dialog-input input {
    border: none;
    border-bottom: 1px solid;
    width: 99%;
    outline: none;
    background-color: transparent;
    padding: 4px 0;
}
.dialog-input ::placeholder {
    color: black;
}
.dialog-inputs {
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 22px;
    padding: 21px 0 0 0;
}
.line-1 {
    width: 4px;
    height: 50px;
    background: #FF0004;
}
.dialog-note {
    background: #FECECF;
    padding: 15px 35px;
    border-radius: 5px;
    font-weight: bold;
    margin: 17px 0;
    color: #FF0004;
}
.dialoge-note-container {
    display: flex;
    gap: 8px;
    justify-content: left;
    position: relative;
    left: -24px;
    top: 0px;
    align-items: center;
}
.dialog-action button {
    border: 3px solid;
    padding: 8px 22px;
    margin-top: 18px;
}
.dialog-action {
    text-align: center;
    margin: 16px;
}
.css-10d30g3-MuiPaper-root-MuiDialog-paper {
    background-color: white !important;
    border: 5px solid #FECECF !important;
}

@media (max-width: 380px) {
    .cart-body {
        max-height: 290px;
    }
    .dialog-note {
        padding: 15px 15px;
    }
}