* {
    margin: 0;
    padding: 0;
}
.nav-container {
    width: 100%;
    height: 75px;
    background-color: #F66141;
}
.left-icone {
    display: flex;
    align-items: center;
    height: 75px;
    margin-left: 38px;
}
.left-nav-container {
    width: 270px;
    height: calc(100vh - 130px);
    float: left;
    background-color: rosybrown;
    padding: 15px 15px;
    z-index: 1;
    position: relative;
}