* {
    margin: 0;
    padding: 0;
}
.detaille-header {
    width: 100%;
}
.detaille-header p {
    text-align: center;
}
.detaille-header p:nth-child(1) {
    font-weight: 600;
    font-size: x-large;
    letter-spacing: 2px;
}
.detaille-header p:nth-child(2) {
    font-weight: 500;
    padding-top: 10px;
}
.detaille-header img {
    padding: 21px 40px;
}
.detaille-food-image {
    position: relative;
    display: inline-block;
    border-radius: 12px;
    overflow: hidden;
    left: 50px;
}
.detaille-food-image img {
    height: 299px;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    display: block;
}

/* .detaille-food-image {
    display: flex;
    justify-content: center; 
    align-items: center;       
    border-radius: 12px;
    overflow: hidden;
    height: 299px;          
    width: fit-content;
    margin-left: 50px;  
}
.detaille-food-image img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
    display: block;
} */
.detaille-header-p {
    color: white;
}
.detaille-food-infos {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -37px;
}
.detaolle-food-info {
    text-align: center;
    color: white;
}
.detaolle-food-info p {
    font-size: smaller;
    font-weight: bold;
}
.detaolle-food-description {
    text-align: center;
    padding: 16px 30px;
    line-height: 25px;
    color: white;
}
.detaolle-food-btn {
    text-align: center;
    margin-top: 40px;
}
.detaolle-food-btn button {
    background-color: #FF8B66;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: 600;
    font-size: medium;
    cursor: pointer;
}
.bg-1 {
    background-image: url('/public/Images/backgrounds/Vector\ 1.svg');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
    position: relative;
}
.bg-2 {
    background-image: url('/public/Images/backgrounds/Vector\ 2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 504px;
    position: absolute;
    top: 0;
    z-index: 2;
}
.bg-3 {
    background-image: url('/public/Images/backgrounds/Vector\ 3.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 704px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.bg-4 {
    background-image: url('/public/Images/backgrounds/Vector\ 4.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 785px;
    position: absolute;
    top: 0;
    z-index: 0;
}
.bg-0 {
    background-image: url('/public/Images/backgrounds/Vector\ 5.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}